body{
  margin: 0;
  padding: 0; 
  font-family: "Arial", serif;
}
.nav {
  background-color:  #ffffff ;
  color:#000000;
  list-style: none;
  text-align: right; 
  padding: 20px 0 0 0;
}
.nav > li {
  display: inline-block;
  padding-right: 50px;
}
.nav > li a {
  text-decoration: none;
  color:#000000;
}
.nav > li a:hover{
color: #37474f
}

.logo{
  color: #000000;
  float: left;
  padding-left: 25px;
  font-size: 14px;
  font-weight: bold;

}
.logo > a {
  text-decoration: none;
  color: #000000;
  padding: 0px;
}
.banner {
  width: 100%;
  display: block;
}
.banner > img{
  width: 100%;
  display: block;
}
.text{
color:#000000;
text-align: center;
}        
html{
  scroll-behavior: smooth;
}
.pozadi > img{
  width: 100%;
  height: 58.9%;
  display: block;
}
.loga{
  text-align: right;
  margin-right: 50px;
  margin-top: -60px;
}
.sirka{
  margin: 15px;
}
.material-icons {
  font-size: 40px !important;
}
h5{
  padding: 15px 0 15px 0;
}
.icon-block{
  color: #37474f;
}